/*
    Steel Blue: #3f7caa
    Lightening: #fbc619
    Carnation: #f74f5f;
    Sunglo: #e36473
    Monte Carlo: #7dc7a9
    Dodger Blue: #35a7ff
    Rhino: #2d335f

    Doughnut: Lightening/Carnation
    Retweets/Favourites: Steel Blue/Sunglo
*/
